body {
  margin: 0;
  padding: 0;

  font-family: 'ZCOOL QingKe HuangYou', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, #434343 , #000000);
  color: #2bd1fc
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  text-align: center;
}

.dopeBtn {
  background-color: #FA056F;
}
.dopeB {
  background-color: #39ff14;
  margin: 10px;
}
